@import url("https://fonts.googleapis.com/css2?family=Acme&family=Brawler:wght@400;700&family=Doppio+One&family=Hind+Vadodara:wght@300;400;500;600;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Merienda:wght@300..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Play:wght@400;700&family=Playpen+Sans:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --nav-color: rgb(0, 0, 0, 0.7);
  --bg-color: linear-gradient(312deg, rgba(1, 19, 27, 0.7) 0%, rgba(9, 92, 121, 0.7) 0%, rgba(1, 25, 45, 1) 100%);
  --foreground-color: rgb(225, 225, 225);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("img/peakpx.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Saira";
}
h1 {
  font-size: 40px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-top {
  background-color: var(--nav-color);
  color: #fff;
  border-bottom: 2px solid #8a8a8a;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}
.nav-top .title {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.title i {
  font-size: 25px;
}
.nav-icon i {
  font-size: 35px;
}
.container {
  margin: 30px;
}
.player-content {
  margin: 0 auto;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-radius: 12px;
  background-color: #f6f6f61b;
}
.playlist-content {
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  width: fit-content;
  background-color: transparent;
}

h2.playlist-title {
  font-size: 38px;
  color: #fff;
  font-family: "Play";
  text-align: center;
}
#player-album-art {
  margin-right: 30px;
}
#player-album-art img {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  box-shadow: 15px 0px 30px #c7c7c7;
}
.player-display {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px 20px;
  height: 250px;
  width: 100%;
  border-radius: 6px;
  justify-content: space-between;
}
.top-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}
.volume {
  display: flex;
  align-items: center;
}
.volume p {
  font-size: 22px;
  font-size: "Solway";
  width: 40px;
  text-align: left;
  color: #fff;
  margin-right: 8px;
}
.top-button .volume i {
  font-size: 30px;
  color: #fff;
}
input#volume {
  accent-color: #fff;
  margin-left: 15px;
}
#mute-icon {
  display: none;
}
.player-display-song-artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 5px;
}
#player-song-title,
#player-song-artist {
  color: #fff;
  font-family: "Saira";
}
#player-song-title {
  width: 100%;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
}
#player-song-artist {
  width: 100%;
  font-size: 18px;
  font-family: "Merienda";
  font-weight: 600;
  color: #fff;
}
.song-track {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 12px;
}
.song-track span {
  color: #fff;
  font-size: 20px;
}
input#songProgress {
  accent-color: #fff;
  width: 100%;
}
.player-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(19, 182, 155);
}
.player-buttons button {
  border: 2px solid rgb(255, 255, 255);
}
.player-buttons button:hover {
  background-color: #a7a7a752;
  padding: 8px 14px;
  border-radius: 10px;
}
.player-buttons i {
  font-size: 35px;
  color: #fff;
}
.play,
.pause {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a7a7a7;
}
.play i,
.pause i {
  color: darkgreen;
}
#pause {
  display: none;
}
button.repeat {
  color: #fff;
}
i#repeat-1 {
  display: none;
}
ul {
  margin: 0;
}
#playlist-songs {
  list-style: none;
  height: 700px;
  overflow-y: scroll;
  width: 660px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: flex-start;
  visibility: visible;
  padding: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
}
.playlist-song {
  outline-color: darkorange;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}
.playlist-song-info {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 5px 0;
  font-family: "Ubuntu";
}
.playlist-song-title {
  text-align: left;
  font-size: 18px;
  width: 320px;
  margin-right: 40px;
}
.playlist-song-artist {
  font-size: 17px;
  width: 120px;
}
.playlist-song-duration {
  font-size: 17px;
  width: 50px;
}
.playlist-song-delete {
  padding: 0;
  fill: var(--foreground-color);
}
.playlist-song-delete i {
  font-size: 25px;
}
#playlist-songs li:not([aria-current="true"]):hover {
  background-color: #bebebe;
  border-radius: 6px;
}
[aria-current="true"] {
  background-color: #757474;
  border-radius: 6px;
}
[aria-current="true"] {
  border-bottom: none;
}
[aria-current="true"] span,
[aria-current="true"] i {
  color: #ffffff;
}
.playlist-song-delete:hover,
.playlist-song-delete:focus {
  color: #dc0a57;
}
button#reset {
  font-size: 18px;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  background-color: #b2b2b2;
}

/*------- RESPONSIVE WEB PAGE -------*/
@media screen and (max-width: 400px) {
  .player,
  .playlist {
    width: 340px;
  }
  .player {
    height: auto;
  }
  #playlist-songs {
    width: 100%;
  }
  .player-content {
    background-color: transparent;
    display: inline;
    position: relative;
    justify-items: center;
    padding: 10px 0;
    height: 100%;
  }
  #player-album-art {
    z-index: -100;
    margin: 0;
  }
  #player-album-art img {
    width: 310px;
    height: 310px;
    margin: 0 auto;
    box-shadow: 15px 15px 30px #c7c7c7;
  }
  .player-display-song-artist {
    padding: 0 10px;
  }
  #player-song-title,
  #player-song-artist {
    text-align: center;
  }
  .player-display-song-artist > p {
    white-space: pre-wrap;
  }
  .player-display {
    height: 200px;
    margin-top: 10px;
    padding-bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    justify-content: space-between;
  }

  #playlist-songs {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #3f3f3f white;
    scrollbar-width: thin;
  }
  #playlist-songs::-webkit-scrollbar {
    width: 100%;
  }
  #playlist-songs::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  #playlist-songs::-webkit-scrollbar-thumb {
    background: #fff;
  }
  #playlist-songs::-webkit-scrollbar-thumb:hover {
    background: #000;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 24px;
  }
  .playlist-song-info {
    justify-content: space-between;
    column-gap: 0;
  }
  .playlist-song-title,
  .playlist-song-artist,
  .playlist-song-duration {
    font-size: 14px;
  }
  .playlist-song-title {
    width: 100px;
    border: 2px solid green;
  }
  .playlist-song-artist {
    width: 50px;
    border: 2px solid green;
  }
  .playlist-song-delete i {
    font-size: 16px;
  }
  .playlist-song-duration > button {
    padding: 0;
  }
}
