@import url("https://fonts.googleapis.com/css2?family=Acme&family=Doppio+One&family=Hind+Vadodara:wght@300;400;500;600;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Merienda:wght@300..900&family=Nanum+Gothic+Coding:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Play:wght@400;700&family=Playpen+Sans:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --nav-color: rgb(0, 0, 0, 0.7);
  --bg-color: linear-gradient(312deg, rgba(1, 19, 27, 0.7) 0%, rgba(9, 92, 121, 0.7) 0%, rgba(1, 25, 45, 1) 100%);
  --foreground-color: rgb(225, 225, 225);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("img/peakpx.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 40px;
  font-family: "Merienda";
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin: 0;
}
span {
  line-height: 28px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-bar {
  background-color: var(--nav-color);
  color: #fff;
  border-bottom: 2px solid #8a8a8a;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}
.nav-bar .title {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.title i {
  font-size: 25px;
}
.link-icon i {
  font-size: 35px;
}
.container {
  margin: 30px;
  border: 2px solid white;
}
.player-content {
  margin: 60px auto;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-radius: 12px;
  background-color: #f6f6f61b;
  transition: width 0.8s;
}
#player-album-art {
  margin-right: 30px;
}
#player-album-art img {
  width: 240px;
  height: 240px;
  display: block;
  border-radius: 50%;
  box-shadow: 15px 0px 30px #c7c7c7;
}
.player-display {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 20px;
  height: 250px;
  width: 100%;
  border-radius: 6px;
  justify-content: space-between;
}
.top-button {
  display: flex;
  justify-content: space-between;
}
.volume {
  display: flex;
  align-items: center;
}
.volume p {
  font-size: 22px;
  font-family: "Ubuntu";
  width: 40px;
  text-align: left;
  color: #fff;
  margin-right: 8px;
}
.volume i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
input#volume-adjust {
  accent-color: #fff;
  margin-left: 15px;
  cursor: pointer;
}
.volume-off {
  display: none;
}
.open-playlist-btn i {
  font-size: 35px;
  color: #e7e7e7;
}
.open-playlist-btn i:hover {
  color: #fff;
}
.player-display-song-artist {
  margin-top: -10px;
}
#player-song-title {
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  font-family: "Hind Vadodara";
  color: #fff;
  margin-bottom: 5px;
}
#player-song-artist {
  width: 100%;
  font-size: 18px;
  font-family: "Playpen Sans";
  font-weight: 500;
  color: #fff;
}
.song-track {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.song-track span {
  color: #fff;
  font-size: 20px;
  font-family: "Ubuntu";
}
input#songProgress {
  accent-color: #fff;
  width: 100%;
  cursor: pointer;
}
.player-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-buttons i:not(.play i, .pause i) {
  font-size: 35px;
  width: 50px;
  color: #e7e7e7;
}
.player-buttons i:hover:not(.play i, .pause i) {
  font-size: 40px;
  color: #fff;
}
.play,
.pause {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
}
.play i,
.pause i {
  font-size: 35px;
  color: #4a4a4a;
}
.play i {
  margin-left: 5px;
}
#pause {
  display: none;
}
.repeat {
  width: 50px;
}
.repeat-1 {
  display: none;
  color: #fff;
  font-size: 40px;
}
.playlist-title {
  padding: 7px 0 12px;
  margin-bottom: 10px;
  margin-left: -15px;
  box-shadow: 5px 5px 15px #283d45;
}
h2.playlist-title {
  font-size: 28px;
  color: #fff;
  font-family: "Play";
  text-align: center;
}
.hidden {
  max-height: 0;
  overflow: hidden;
}
.container.show {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
.player-content.show {
  width: 700px;
  margin: 0;
  transition: width 0.8s;
}
.player-content.show #player-album-art img {
  width: 215px;
  height: 215px;
}
.player-content.show #player-song-title {
  font-size: 23px;
}
.player-content.show #player-song-artist {
  font-size: 17px;
}
.playlist-content.show {
  max-height: 500px;
  overflow: hidden;
  width: 500px;
  padding: 0 0 20px 15px;
  border-radius: 12px;
  background-color: var(--nav-color);
  transition: max-height 1.5s;
}
#playlist-songs {
  max-height: 340px;
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: flex-start;
  overflow-y: scroll;
  visibility: visible;
  scrollbar-width: thin;
}
.playlist-song {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  margin-right: 10px;
}
.playlist-song-info {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 5px 0;
  font-family: "Ubuntu";
  color: #fff;
}
.playlist-song-title {
  text-align: left;
  font-size: 16px;
  width: 215px;
}
.playlist-song-artist {
  font-size: 15px;
  width: 100px;
}
.playlist-song-duration {
  font-size: 15px;
  width: 50px;
}
.playlist-song-delete {
  color: #fff;
  padding: 0;
  fill: var(--foreground-color);
}
.playlist-song-delete i {
  font-size: 22px;
}
#playlist-songs li:not([aria-current="true"]):hover {
  background-color: #cfcfcf55;
  border-radius: 6px;
}
[aria-current="true"] {
  background-color: #cfcfcf55;
  border-radius: 6px;
}
[aria-current="true"] {
  border-bottom: none;
}
[aria-current="true"] span,
[aria-current="true"] i {
  color: #ffffff;
}
.playlist-song-delete:hover,
.playlist-song-delete:focus {
  color: #5d0008;
}
button#reset {
  font-size: 18px;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  background-color: #b2b2b2;
}

/*------- RESPONSIVE WEB PAGE -------*/
/*----- IPAD Viewport-768px -----*/
@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .player-content {
    width: 700px;
  }
  .container.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .player-content.show {
    margin-bottom: 20px;
  }
  .playlist-content.show {
    width: 700px;
  }
  .playlist-song {
    margin-right: 15px;
  }
  .playlist-song-title {
    width: 350px;
    margin-right: 20px;
  }
  .playlist-song-artist {
    width: 140px;
    margin-right: 10px;
  }
}

/*----- Phone Viewport-375px -----*/
@media screen and (max-width: 500px) {
  body {
    background-image: url("img/phone-cover.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: space-between;
  }
  .nav-bar {
    padding: 0 20px;
    height: 60px;
  }
  .nav-bar h1 {
    font-size: 30px;
  }
  .container {
    margin: auto 0;
    padding: 30px 0;
  }
  .player-content {
    margin: auto 0;
    background-color: transparent;
    display: inline;
    padding: 10px 0;
  }
  #player-album-art {
    margin: 0;
  }
  #player-album-art img {
    width: 270px;
    height: 270px;
    border-radius: 12px;
    margin: 0 auto;
    box-shadow: none;
  }
  .player-display {
    margin-top: 10px;
    padding-bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    justify-content: space-between;
  }
  .player-display-song-artist {
    padding: 0 10px;
  }
  #player-song-title,
  #player-song-artist {
    text-align: center;
  }
  .player-display-song-artist > p {
    white-space: pre-wrap;
  }
  #playlist-songs {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #3f3f3f white;
    scrollbar-width: thin;
  }
  #playlist-songs::-webkit-scrollbar {
    width: 100%;
  }
  #playlist-songs::-webkit-scrollbar-track {
    background: var(--bg-color);
  }
  #playlist-songs::-webkit-scrollbar-thumb {
    background: #fff;
  }
  #playlist-songs::-webkit-scrollbar-thumb:hover {
    background: #000;
  }
  .playlist-song-info {
    justify-content: space-between;
    column-gap: 0;
  }
  .playlist-song-title,
  .playlist-song-artist,
  .playlist-song-duration {
    font-size: 14px;
  }
  .playlist-song-title {
    width: 100px;
    border: 2px solid green;
  }
  .playlist-song-artist {
    width: 50px;
    border: 2px solid green;
  }
  .playlist-song-delete i {
    font-size: 16px;
  }
  .playlist-song-duration > button {
    padding: 0;
  }
}
